<!DOCTYPE html>
<html>
<head>
	<title>
	Flask App
	</title>
</head>
<body>
	<form action='/getOTP' method="post">
		<div>
		<label>Enter mobile Number</label></br></br>
		<input type="text" name="number" placeholder="+94 * * *"/></br></br>
		
		<label>Enter User name</label></br></br>
		<input type="text" name="username" placeholder="Abcd"/></br></br>
		
		<label>Enter Password</label></br></br>
		<input type="text" name="password" placeholder="Abcd1234"/></br>
		<label>password must be 8 characters</label></br>
		<label>Use both numaric and letters</label></br></br></br></br>
		
		<button type="submit"> Get OTP</button>	
		</div>
		
	</form>
	
	
</body>
</html>
